<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %} BookIt {% endblock %}</title>

    {% include 'booking/bootstrap_css.html' %}

    <style>
        {% block style %}
        {% endblock %}
    </style>

</head>
<body>

    {% include 'booking/navbar.html' %}


    <div class="container">

        {% block jumbotron_content %}

        {% endblock %}

        <div id="content">
            {% block body %}
            {% endblock %}
        </div>



    </div>
</body>
</html>