{% extends 'booking/base.html' %}

{% block content %}

<form id="post_form" method="post" action=""
      enctype="multipart/form-data">

    {% csrf_token %}
    {% for hidden in hotelForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in hotelForm %}
        {{ field }} <br />
    {% endfor %}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}


    <input type="submit" name="submit" value="Submit" />
</form>

{% endblock %}