{% extends 'booking/base.html' %}

{%  block content %}

    {% if hotels %}
        {% for hotel in hotels %}
            <a href="{% url 'booking:hotel_detail' hotel.id %}"><h2>{{ hotel.name }}</h2></a>
            <ul>
                <li>{{ hotel.star_rating }}</li>
                <li>{{ hotel.address }}</li>
                <li>{{ hotel.city }}</li>
                <li>{{ hotel.country_code }}</li>
                <li>{{ hotel.email }}</li>
                <li>{{ hotel.phone_number }}</li>
                <li><a href="{{ hotel.url }}">Hotel's site</a> </li>
                <br>

            </ul>
        {% endfor %}
    {% else %}
        <h2>There is no hotels in database</h2>
    {% endif %}

{% endblock %}