{% extends 'booking/base.html' %}

{% block style %}
{{ block.super }}

img {
    max-width: 100%;
    height: auto;
}

.hotel_image
{
    width: 600px;
    min-height: 120px;
    max-height: auto;
    float: left;
    padding: 10px;
}

.details
{
    float:left;
    padding: 10px;
    padding-left: 40px;
}


.rooms
{
    clear: both;
    padding: 10px;
}

.room_image
{
    width: 300px;
    min-height: 100px;
    max-height: auto;
    float: left;
    padding: 10px;
}

.room_details
{
    float:left;
    padding: 10px;
}

.empty-div
{
    clear: both;
}

.badge
{
    background-color: #007bff;
}

{% endblock %}

{% block content %}

<div class="hotel_image">
    <a> <img src="{{ hotel.avatar.url }}"> </a>
</div>

<div class="details">

    <h1>{{ hotel.name }} {% if hotel.hotel_chain %} ({{ hotel.hotel_chain.chain_name }}) {% endif %} <span class="badge badge-primary badge"> RATING: {{ hotel.star_rating }}</span></h1>

    <div class="row">
        <div class="col-md-10">
            <h3> <b>Street:</b> {{ hotel.address }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h3> <b>City:</b> {{ hotel.city }} {{ hotel.country_code }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3><i class="fa fa-envelope" aria-hidden="true" style="color: #cc181e;"></i> <b>Email:</b> {{ hotel.email }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h3><i class="fa fa-globe" aria-hidden="true" style="color: #2793e8;"></i> <a href="{{ hotel.url }}">Hotel's site</a> </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">

            <h3><i class="fa fa-phone" aria-hidden="true" style="color: #559900;"></i> <b>Phone:</b> {{ hotel.phone_number }}</h3>
        </div>
    </div>

</div>


<div class="rooms">
    <hr/>
    {% if rooms %}
    <h1>Hotel's Rooms</h1>
        {% for room in rooms %}
            <div class="container">

                <div class="row">

                    <div class="room_image">
                        <img src="{{ room.avatar.url }}">
                    </div>
                    <div class="col-lg-5">
                        <h4><i class="fa fa-bed" aria-hidden="true"></i> <b>Type:</b> {{ room.room_type.room_type }}</h4>
                        <h4>{{ room.room_type.room_standard }}</h4>
                        <h4><b>Smoking:</b> {% if room.room_type.smoking_in %} Yes {% else %} No {% endif %}</h4>
                    </div>

                    <div class="col-lg-3" style="text-align: center;">
                        <h2>${{ room.price }}</h2>
                        <a class="btn btn-lg btn-primary" href="{% url 'booking:room_detail' room.id %}" role="button">View Details</a>
                    </div>
                </div>
            </div>

            <div class="empty-div">
                <hr/>
            </div>
        {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if rooms.has_previous %}
            <a href="?{{ page_var }}={{ rooms.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ rooms.number }} of {{ rooms.paginator.num_pages }}.
            </span>

            {% if rooms.has_next %}
                <a href="?{{ page_var }}={{ rooms.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

    {% else %}
        <h3>No rooms!</h3>
    {% endif %}
</div>

{% if request.user.is_authenticated and user.is_superuser and user.id == hotel.owner.id %}
<div style="text-align: center;">
    <a class="btn btn-lg btn-primary" href="{% url 'booking:hotel_delete' hotel_id=hotel.id %}" role="button">Delete</a>
</div>
{% endif %}

{% endblock %}