{% extends 'booking/base.html' %}

{% block style %}

img {
    max-width: 100%;
    height: auto;
}

.image_mrr
{
    width: 600px;
    min-height: 120px;
    max-height: auto;
    float: left;
    padding: 10px;
}

.hotel_details
{
    float:left;
    padding: 10px;
}

.rooms
{
    clear: both;
    padding: 10px;
}

.badge
{
    background-color: #007bff;
}

{% endblock %}

{% block content %}

<div class="image_mrr">
   <a> <img src="{{ image.image.url }}"> </a>
</div>

<div class="hotel_details">
    <h1>{{ hotel.name }} <span class="badge badge-primary badge"> RATING: {{ hotel.star_rating }}</span></h1>
    <ul>
        <li>{{ hotel.address }}</li>
        <li>{{ hotel.city }}</li>
        <li>{{ hotel.country_code }}</li>
        <li>{{ hotel.email }}</li>
        <li><a href="{{ hotel.url }}">Hotel's site</a> </li>
        <li>{{ hotel.phone_number }}</li>
    </ul>
</div>

<div class="rooms">
    {% if rooms %}
    <h1>Hotel's Rooms</h1>
        {% for room in rooms %}
            <ul>
                <li><h3>{{ room.room_type.room_type }}</h3></li>
                <li>{{ room.room_type.room_standard }}</li>
                <li>{{ room.room_type.description }}</li>
                <li>Smoking: {% if room.smoking_in %} Yes {% else %} No {% endif %}</li>
            </ul>
        {% endfor %}
    {% else %}
        <h3>No rooms!</h3>
    {% endif %}
</div>

{% endblock %}