{% extends 'booking/base.html' %}

{% block style %}
{{ block.super }}

img {
    max-width: 100%;
    height: auto;
}

.room_image
{
    width: 600px;
    min-height: 120px;
    max-height: auto;
    float: left;
    padding: 20px;
}

.details
{
    float: none;
    padding: 10px;
    margin-left: 20px;
}

.empty-div
{
    clear: both;
}

{% endblock %}

{% block content %}

<div class="room_image">
    <a> <img src="{{ room.avatar.url }}"> </a>
</div>

<div class="details">
    <h1>Description</h1>
    <p><font size="4">{{ room.description }} </font></p>
    <p><font size="6"> Price: ${{ room.price }} </font></p>
</div>

<div class="empty-div">

</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h3><i class="fa fa-bed" aria-hidden="true"></i> Type: {{ room.room_type.room_type }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h3>Standard: {{ room.room_type.room_standard }}</h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <a class="btn btn-lg btn-primary" href="{% url 'booking:room_bookit' room.id %}" role="button">Book It!</a>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-10 col-sm-offset-1">
            <h2>Comments:</h2>
        </div>
    </div>
</div>

{% endblock %}